<div class="container mt-4">
    <!-- Sección de la publicación actual -->
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <img src="{{ publicacionDetalle.data.imagenes[0].rutaImagen }}" alt="{{ publicacionDetalle.data.imagenes[0].nombreImagen }}" class="card-img-top" style="max-height: 400px;">
          <div class="card-body">
            <h1 class="card-title">{{ publicacionDetalle.data.titulo }}</h1>
            <h4 class="card-subtitle mb-3">{{ publicacionDetalle.data.subTitulo }}</h4>
            <p class="card-text">{{ publicacionDetalle.data.descripcion }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Comentarios</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let comentario of publicacionDetalle.data.comentarios">
                <p>{{ comentario.comentario.comentario }}</p>
                <small>Por: {{ comentario.usuariosClientes_id }}, {{ comentario.created_at | date: 'medium' }}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 <!-- Sección de publicaciones relacionadas -->
<div class="container mt-4">
    <h2>Publicaciones Relacionadas</h2>
    <div class="row noti" style="overflow-x: auto; white-space: nowrap;">
      <div class="d-inline-block" style="width: auto;">
        <div class="card-deck" style="display: inline-flex;">
          <div class="card mb-3 mr-3 spc" style="min-width: 300px;" *ngFor="let publicacion of publicaciones; let i = index">
            <!-- Imagen de la publicación -->
            <div class="img-container">
              <img *ngIf="publicacion.imagenes.length > 0" [src]="publicacion.imagenes[0].rutaImagen" class="card-img-top" alt="Imagen de la publicación">
            </div>
            <div class="card-body">
              <!-- Título y subtítulo de la publicación -->
              <h5 class="card-title">{{ publicacion.titulo }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ publicacion.subTitulo }}</h6>
              <!-- Tags de la publicación -->
              <div *ngIf="publicacion.tags.length > 0">
                <p class="card-text">Tags: 
                  <span *ngFor="let tag of publicacion.tags" class="badge badge-success">{{ '#' + tag.nombreTag }}</span>
                </p>
              </div>
              <!-- Categoría de la publicación -->
              <p class="card-text">Categoría: {{ publicacion.categoria.nombreCategoria }}</p>
              <!-- Usuario que hizo la publicación -->
              <p class="card-text">Hecho por: {{ publicacion.usuarios[0].name }}</p>
              <!-- Botón "Ver Detalle" -->
              <a [routerLink]="['/news', publicacion.id]" class="btn btn-primary rounded-pill">Ver Detalle</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  