<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bb">
    <div>
      <div class="opt">
        <h1 class="t"><strong>What is Optimen?</strong></h1>
        <h3>
          Optimen is a Mexican Software Development company that provides
          resources management and optimization services to different
          industries. The company was designated and approved as an
          International Service Contractor for Jeppesen and Boeing.
        </h3>
      </div>
      <div class="">
       
      </div>
    </div>
    <div class="espacio"></div><hr>
    <div>
      <div class="op1">
        <h1 class="t"><strong>Mission</strong></h1>
        <h3>
          Support and facilitate Air Lines around the world to maintain reliable
          and sustainable operations through Technology, Innovation and living
          our Values.
        </h3>
      </div>
      <div class="">
        <p>imagen</p>
      </div>
    </div>
    <div class="espacio"></div><hr>
    <div>
      <div class="op2">
        <h1 class="t"><strong>Vision </strong></h1>
        <h3>
          To be the First option in Software, Technology and Innovation services
          for the global Airlines in the area of Aeronautical operational
          control..
        </h3>
      </div>
      <div class="">
        <p>imagen</p>
      </div>
    </div>
    <div class="espacio"></div><hr>
  <div>
    <div class="op3">
      <h1 class="t"><strong>Values </strong></h1>
      
    </div>
    <div class="">
       Trustworthy<br />
        Respect<br />
        Integrity<br />
        Teamwork<br />

        Innovation.
    </div>
  </div>
  <div class="espacio"></div><hr>

  <div>
    <h1 class="t"><strong>Airline Experience </strong></h1>
        <div class="ex">
      <div class="ar1">
        <div class="img">
          <p>imagen</p>
        </div>
        <div class="text">
          <p>
            Associated with long experience in the Airline Industry with high
            trust and tight relation with commercial airlines and industry key
            players.
          </p>
        </div>
      </div>
      <div class="ar2">
        <div class="img">
          <p>imagen</p>
        </div>
        <div class="text">
          <p>
            Broad experience developing software in real Airline Operational
            Control Systems and implementation of Optimization Software.
          </p>
        </div>
      </div>
  
    </div>
  </div>
      










  

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Behance</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Dribbble</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2023 Optimen.
                  
               | Design: <a rel="nofollow" href="#" target="_parent"></a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  </body>
</html>


