<header>
  <nav class="navbar">
    <img
      src="https://lh4.googleusercontent.com/x6oZMDcFTgEltdVXhWe_hVHkrYt04QYiPFG7IoZxtV5M5KfxHGesmO5tA5qo0A8fJ9qJoL8i029pFZR9fhGk5jI=w16383"
      alt="Logo"
      class="logo"
      
    />
    <div class="nav-options">
      <a routerLink="home" class="nav-option">Inicio</a>
      <a routerLink="about-us" class="nav-option">¿Dónde me encuentro?</a>
      <a routerLink="customers" class="nav-option">En México</a>
      <a routerLink="news" class="nav-option">Medio Ambiente</a>
      <a routerLink="services" class="nav-option">Curiosidades</a>
      <a routerLink="innovation" class="nav-option">Desde Casa</a>
      <a routerLink="contact-us" class="nav-option">Contactanos</a>
    </div>
  </nav>
</header>
