<header>
    <nav class="navbar">
      <img src="../../assets/1.jpg" alt="Logo" class="logo" />
      <div class="nav-options">
        <a routerLink="home" class="nav-option">Home</a>
        <a routerLink="about-us" class="nav-option">About us</a>
        <a routerLink="customers" class="nav-option">Customers</a>
        <a routerLink="news" class="nav-option">New </a>
        <a routerLink="services" class="nav-option">Services</a>
        <a routerLink="innovation" class="nav-option">Innovation</a>
        <a routerLink="contact-us" class="nav-option">Contact us</a>
      </div>
    </nav>
  </header>
