@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* Estilo para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    font-family: Montserrat, sans-serif;
  }
  
  /* Estilo para el logotipo */
  .logo {
    width: 50;
    height: 50px;
    margin-right: 10px;
    padding: 20px;
  }
  
 /* Estilo para las opciones de navegación */
.nav-options {
  display: flex;
  justify-content: flex-end;
}

.nav-option {
  margin-right: 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.nav-option:hover {
  color: #273582;
}

/* Estilo para el recuadro en hover */
.nav-option::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  height: 100%;
  background-color: #f5f5f5; /* Color de fondo del recuadro */
  border-radius: 10px; /* Esquinas redondeadas */
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.nav-option:hover::before {
  opacity: 1;
}

  