<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bb">
    <div class="tit op">
      <div class="cen">
        <h1>Welcome to Optimen</h1>
      </div>
      <h4>
        Unique team of Resources Management and Optimization Experts and
        passionate Software Developers
      </h4>
    </div>
    <hr />
    <div>
      <div class="op2">
        <h1>Our Purpose</h1>
        <p>Streamline the world mobility</p>
      </div>
     
    </div>
    <div class="espacio"></div>
    <div>
      <div class="op1">
        <h1>A World Class Global Enterprise</h1>
        <p>
          Mexican Company with the following experience since 2006: Resource
          Optimization Consultancy and Configuration Support Services IT
          Software Solutions Development
        </p>
      </div>
      <div class="izq">
      
      </div>
    </div>
    <div class="espacio"></div>
    <hr /> <div>
        <h1 class="tit">Our Capabilities</h1>
      </div>
  <div class="container">
    <div class="ex">
     
      <div class="box">
<p>Airline Operations Expertise</p>
      </div>
      <div class="box">
<p>Analytics / Analysis Expertise</p>

      </div>
      <div class="box">
<p>Software Architecture</p>
      </div>
    </div>  
    <div class="espacio"></div>
    <div class="ex">
     
      <div class="box">
<p>Consulting & Business Development</p>
      </div>
      <div class="box">
<p>New Products and R&D</p>

      </div>
      <div class="box">
<p>High Technology Expertise</p>
      </div>
    </div> 
    <div class="espacio"></div>
    <div class="ex">
     
      <div class="box">
<p>Customer Trust</p>
      </div>
      <div class="box">
<p>Systems Implementation & Support</p>

      </div>
      <div class="box">
<p>Software Development</p>
      </div>
    </div> 
  </div> <div class="espacio"></div>
  <hr /> <div>
    <h1 class="tit">Our Capabilities</h1>
  </div>
  <div class="img-cont">
     <img src="" alt="">
     <img src="" alt="">
     <img src="" alt="">
  </div> 

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Behance</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Dribbble</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2023 Optimen.
                  
               | Design: <a rel="nofollow" href="#" target="_parent">Karla Diaz</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  </body>
</html>
